
@{
    ViewBag.Title = "ShowResult"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Result</h2>

<div>
    <h2>  <label>Name : @Session["candidate_name"]</label></h2>

    <h2>  <label>Score : @Session["correctAns"]</label></h2>

    <h2>  <label>Grade : @Session["grade"]</label></h2>

    <h2>  <label>Quality : @Session["quality"]</label></h2>
</div>

<div>
    @Html.ActionLink("Back to Questions Index Page", "Index", "Questions")
</div>
