@model IEnumerable<Online_Exam_Application.Models.Courses>
@{
    ViewBag.Title = "Available Exams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Exams</h2>
@{
    if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Add Question", "AddQuestion","Questions")
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Questions)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Course_Title, "DisplayQuestions", new { course_title = item.Course_Title })
            </td>
            <td>
                @Html.DisplayFor(model => item.Total_Questions)
            </td>
        </tr>
    }
</table>

<div>

    <u>Note:</u>
    <span>Clicking on the Course title will start the Exam</span>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
